.welcome_logo{
    margin: auto;
    padding-top: 150px;
    padding-bottom: 20px;
}

.welcome_logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.welcome_logo p{
    font-size: 40px;
    color: #27251F;
    text-align: center;
}